$fonts: 'Fira Sans', sans-serif;

// @use '../../node_modules/bootstrap/scss/bootstrap.scss' with (
//   $primary: $primary-color,
//   $secondary: $secondary-color,
//   $body-bg: $white-color,
//   $grid-breakpoints: (
//     xs: 0,
//     sm: 500px,
//     md: 700px,
//     lg: 1000px,
//     xl: 1200px,
//     xxl: 1400px,
//   ),

//   $input-group-addon-bg: $primary-color,
//   $input-group-addon-border-color: $accent-color,
//   $input-group-addon-color: $white-color,
//   $container-max-widths: (
//     sm: 470px,
//     md: 660px,
//     lg: 940px,
//     xl: 1140px,
//     xxl: 1320px,
//   ),

//   $border-radius: 0.3rem,
//   $border-radius-sm: 0.2rem,
//   $border-radius-lg: 0.5rem,
//   $border-radius-xl: 1rem,
//   $border-radius-2xl: 2rem,
//   $border-radius-pill: 50rem,

//   $display-font-sizes: (
//     1: 1.5rem,
//     2: 1.25rem,
//     3: 1rem,
//     4: 0.75rem,
//     5: 0.5rem,
//     6: 0.25rem,
//   ),

//   $font-family-base: $fonts,

//   $form-range-thumb-width: 1.5rem,
//   $input-height: 1rem
// );

@import '../../node_modules/bootstrap/scss/functions';

$primary: rgb(88, 33, 255);
$secondary: rgb(215, 215, 215);
$accent: rgb(0, 209, 237);

$body-bg: rgb(252, 252, 252);

$grid-breakpoints: (
  xs: 0,
  sm: 500px,
  md: 700px,
  lg: 1000px,
  xl: 1200px,
  xxl: 1400px,
);

$input-group-addon-bg: $primary;
$input-group-addon-border-color: $accent;
$input-group-addon-color: rgb(252, 252, 252);
$container-max-widths: (
  sm: 470px,
  md: 660px,
  lg: 940px,
  xl: 1140px,
  xxl: 1320px,
);

$border-radius: 0.3rem;
$border-radius-sm: 0.2rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;
$border-radius-2xl: 2rem;
$border-radius-pill: 50rem;

$display-font-sizes: (
  1: 1.5rem,
  2: 1.25rem,
  3: 1rem,
  4: 0.75rem,
  5: 0.5rem,
  6: 0.25rem,
);

$font-family-base: $fonts;

$form-range-thumb-width: 1.5rem;
$input-height: 1rem;

@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/variables-dark';

$custom-theme-colors: (
  'accent': $accent,
);

$theme-colors: map-merge($theme-colors, $custom-theme-colors);

@import '../../node_modules/bootstrap/scss/maps';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/root';
@import '../../node_modules/bootstrap/scss/utilities';
@import '../../node_modules/bootstrap/scss/utilities/api';

@import '../../node_modules/bootstrap/scss/bootstrap';
