@import "globals";

video {
  width: 100%;
  max-width: 800px;
  min-width: 350px;

  &::cue {
    background: linear-gradient(to right, $color-dark, var(--special-color));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 2;
  }
}

#text-reflectat {
  position: absolute;
  left: 0;
  top: 100%;
  transform-origin: 0 0;
  /*conetaza ordinea transformarilor!*/
  transform: rotateX(180deg) skew(-45deg) scaleY(0.5) translate(10px, -25px);
  opacity: 0.55;
}

#text {
  position: relative;
}
