@import "globals";

div.container-iframe {
  display: flex;
  flex-direction: row;
}

div.container-iframe > iframe {
  display: inline-block;
  border: 2px solid var(--primary-color);
  border-right: 2px solid var(--special-color);
}

div.taburi-iframe {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.link-iframe {
  padding: 5px;
  margin: 5px;
  border: 3px double var(--primary-color);
  border-radius: 5px;
  color: var(--text-color);
  background-color: var(--secondary-color);
  width: 100px;
}

.link-iframe:hover {
  text-decoration: none;
  padding-left: 20px;
  transition: all 0.5s linear;
}

.grid > * {
  border: 3px solid var(--primary-color);
  padding: var(--section-padding);
  /* margin: var(--section-margin); */
  background-color: var(--background-color-accent);
}

.grid {
  display: grid;
  padding-top: var(--section-padding);
  grid-template-columns: "1fr, 1fr, 1fr,s 1fr";
  gap: var(--section-margin);
  grid-template-areas:
    "z-acasa z-acasa z-acasa z-acasa"
    "z-acasa z-acasa z-acasa z-acasa"
    "z-utilizatori-online z-utilizatori-stats z-utilizatori-stats z-date-site"
    "z-calendar z-calendar z-best-sellers z-best-sellers"
    "z-anunturi z-anunturi z-best-sellers z-best-sellers"
    "z-detalii z-detalii z-detalii z-detalii";
}

#acasa {
  grid-area: z-acasa;
}

#best-sellers {
  grid-area: z-best-sellers;
}

#calendar {
  grid-area: z-calendar;
}

#anunturi {
  grid-area: z-anunturi;
}

#utilizatori-online {
  grid-area: z-utilizatori-online;
}

#utilizatori-stats {
  grid-area: z-utilizatori-stats;
}

#date-site {
  grid-area: z-date-site;
}

#detalii {
  grid-area: z-detalii;
}

.div-tabel {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#tabel-produse caption {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em;
  color: var(--text-color);
}

#tabel-produse {
  border: 1px solid var(--special-color);
  border-radius: 5px;
  border-collapse: separate;
  overflow-x: scroll;
}

#tabel-produse td,
th {
  border-left: 1px solid var(--special-color);
  border-top: 1px solid var(--special-color);
  margin: 5px;
  padding: 5px;
}

#tabel-produse th {
  background-color: var(--special-color);
  border-top: none;
}

#tabel-produse td:first-child,
#tabel-produse th:first-child {
  border-left: none;
}

#tabel-produse tr:nth-child(even) {
  background-color: var(--background-color);
}

#tabel-produse tr:nth-child(odd) {
  background-color: var(--background-color-accent);
}

#tabel-produse tr:hover {
  background-color: var(--primary-color);
  transition: background-color 0.5s linear;

  a {
    color: var(--background-color);
    transition: color 0.5s linear;
  }
}

#tabel-produse td:hover {
  background-color: var(--special-color);
  transition: background-color 0.5s linear;
}

#tabel-produse tfoot {
  font-weight: bold;
  font-style: italic;
}

#watermark {
  display: none;
}

@media screen and (max-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: repeat("1fr", 3);
    gap: var(--section-margin);
    grid-template-areas:
      "z-acasa z-acasa z-acasa"
      "z-acasa z-acasa z-acasa"
      "z-utilizatori-online z-utilizatori-stats z-date-site"
      "z-calendar z-best-sellers z-best-sellers"
      "z-anunturi z-best-sellers z-best-sellers"
      "z-detalii z-detalii z-detalii";
  }
}

@media screen and (max-width: 700px) {
  .grid {
    display: block;
    gap: var(--section-margin);
  }

  .grid > * {
    margin-bottom: 15px;
  }
}
