@import "globals";

#galerie-statica {
  padding-left: var(--padding-intern);
  padding-right: var(--padding-intern);
}

#grid-galerie {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0.5em;
  grid-column-gap: 0.5em;
  grid-template-areas:
    "img img img"
    "img . img"
    "img . img"
    "img . img"
    "img img img";
  counter-reset: nrimag 0; /* nrimag=3 */

  img {
    border: 2px solid var(--special-color);
    border-radius: 5%;
    width: 100%;
    height: 100%;

    &:hover {
      transition: all 0.5s ease;
      transform: scale(1.25);
      border: 4px solid var(--special-color);
    }
  }

  figcaption {
    text-align: center;
    counter-increment: nrimag 1; /* nrimag+=2 */
  }

  figcaption::before {
    content: counter(nrimag, upper-roman) ")";
  }
}

#galerie-animata-s {
  padding-left: var(--padding-intern);
  padding-right: var(--padding-intern);
}

@media screen and (max-width: 1000px) {
  #grid-galerie {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  #grid-galerie {
    display: block;
  }
}
