html {
  font-size: 16px;
  transition: font-size 0.5s linear;
}

@import "globals";

body {
  background-color: $background-color;
  color: $text-color;
  padding-left: $page-padding;
  padding-right: $page-padding;
  min-width: 450px;
}

footer {
  background-color: $background-color;
  color: $text-color;
  text-align: center;
  margin-left: calc(-1 * $page-padding);
  margin-right: calc(-1 * $page-padding);
}

footer > a {
  color: $text-color;
  text-decoration: none;
}

footer > a:hover {
  color: $secondary-color;
}

#top-btn {
  position: fixed;
  bottom: 0.8em;
  opacity: 0.5;
  right: 0.8em;
  width: 2rem;
  box-sizing: border-box;
  height: 2rem;
  font-weight: 600;
  line-height: 2rem;
  font-size: 23px;
  text-align: center;
  border: 1px solid $special-color;
  border-radius: 50%;
  color: $special-color;
  background: $background-color;
}

#top-btn:hover {
  text-decoration: none;
  background-color: $special-color;
  color: $background-color;
  transition: all 0.5s linear;
  box-shadow: 0px 0px 5px 5px $special-color;
  opacity: 1;
}

img {
  width: 100%;
  max-width: 800px;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
    transition: font-size 0.3s linear;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
    transition: font-size 0.3s linear;
  }
}
