html {
  font-size: 16px;
  transition: font-size 0.5s linear;
}

@import 'globals';

body {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  min-width: 450px;
}

header {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  text-align: center;
  h1 {
    font-size: 2em;
    margin: 0;
  }
}

footer {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  text-align: center;
  margin-left: calc(-1 * var(--page-padding));
  margin-right: calc(-1 * var(--page-padding));

  > a {
    color: var(--text-color);
    text-decoration: none;
  }
  > a:hover {
    color: var(--primary-color);
  }
}

#hr-footer {
  background: linear-gradient(to bottom, transparent, var(--accent-color) 50%, transparent);
  border: none;

  &:after {
    content: '';
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    background: radial-gradient(
      var(--accent-color),
      var(--accent-color) 50%,
      var(--secondary-color) 50%,
      var(--secondary-color) 100%
    );
    border-radius: 70%;
  }
}

#top-btn {
  position: fixed;
  bottom: 0.8em;
  opacity: 0.5;
  right: 0.8em;
  width: 2rem;
  box-sizing: border-box;
  height: 2rem;
  font-weight: 600;
  line-height: 2rem;
  font-size: 23px;
  text-align: center;
  border: 1px solid var(--secondary-color);
  border-radius: 50%;
  color: var(--secondary-color);
  background: var(--background-color);

  &:hover {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--background-color);
    transition: all 0.5s linear;
    box-shadow: 0px 0px 5px 5px var(--secondary-color);
    opacity: 1;
  }
}

img {
  width: 100%;
  max-width: 800px;
  min-width: 200px;
}

#err-imag img {
  width: 100%;
}
#err-coloane {
  display: flex;
  padding-top: 1em;
  padding-left: 1em;
}

#err-coloane section {
  font-size: 2em;
  padding-left: 1em;
}
#err-coloane h2 {
  font-size: 2em;
}

@media screen and (max-width: 1000px) {
  html {
    font-size: 14px;
    transition: font-size 0.3s linear;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 12px;
    transition: font-size 0.3s linear;
  }
}
