$light-bg: #ffffff;
$dark-bg: #141313;
$color-dark: #252525;
$color-light: #efeded;
$accent-color-light: #a682ff;
$accent-color-dark: #01a7c2;
$accent-color: #5b3da7;

:root {
  --background-color: #{$light-bg};
  --background-color-accent: #{$color-light};
  --primary-color: #{$accent-color-light};
  --secondary-color: #{$accent-color-dark};
  --special-color: #{$accent-color};
  --text-color: #{$dark-bg};

  --page-padding: 1.5em;
  --section-margin: 0.5em;
  --section-padding: 0.5em;
}

body.dark {
  --background-color: #{$dark-bg};
  --background-color-accent: #{$color-dark};
  --secondary-color: #{$accent-color-dark};
  --special-color: #{$accent-color-light};

  --text-color: #{$light-bg};
}

@media screen and (max-width: 1000px) {
  :root {
    --page-padding: 0.75em;
    --section-margin: 0.3em;
    --section-padding: 0.3em;
  }
}

@media screen and (max-width: 700px) {
  :root {
    --page-padding: 0.25em;
    --section-margin: 0.1em;
    --section-padding: 0.1em;
  }
}
