@import "globals";

$menu-height: 30px;
$menu-button-width: 100%;

nav {
  width: 100vw;
}

#hamburger {
  display: block;
  height: $menu-height;
  cursor: pointer;
  i {
    margin-left: 0.6em;
    margin-top: 0.6em;
  }
}

.menu-bar {
  display: none !important;
}

ul.meniu {
  display: block;
  clip-path: circle(0% at 0% 0%);
  transition: clip-path 0.5s linear;

  li {
    width: 100%;
  }
}

#ch-menu:checked + ul.meniu {
  clip-path: circle(100%);
}
