@import "globals";

@import "custom-bs";
#hamburger,
#ch-menu {
  display: none;
}

$menu-height: 30px;
$menu-button-width: 120px;

nav {
  background-color: var(--primary-color);
  height: $menu-height;
  width: calc(100vw - 18px);
  margin-left: calc(-1 * var(--page-padding));
  position: sticky;
  top: 0;
}

#darkmode-label {
  width: 3em;
  height: 1.5em;
  position: absolute;
  top: 10%;
  right: 1.5%;
  display: flex;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;

  &:after {
    content: "";
    width: 1em;
    height: 1em;
    position: absolute;
    top: 17%;
    left: 5%;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }

  &:active:after {
    width: 1.25em;
  }
}

#darkmode-switch {
  width: 0;
  height: 0;
  visibility: hidden;

  &:checked + label {
    background: #242424;
  }
  &:checked + label:after {
    left: 95%;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
  }
  label,
  label:after {
    transition: 0.3s;
  }
}

ul.meniu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  ul.submeniu {
    opacity: 0;
    transition: all 0.5s linear;
    transform: scale(0, 0);
    transform-origin: center;
    padding: 0;
  }
  li {
    text-align: center;
    width: $menu-button-width;
    height: $menu-height;
    overflow: hidden;
    background-color: var(--accent-color);
    // border-radius: 5%;
    margin-left: 0.25em;
    margin-right: 0.25em;
    box-sizing: content-box;
    transition: background-color 0.3s linear;

    &:hover {
      background-color: var(--primary-color);
      overflow: visible;
      > ul.submeniu {
        opacity: 1;
        transform: scale(1, 1);
      }
      > .menu-bar {
        top: calc($menu-height - 2px);
        opacity: 1;
        //animation: MoveDown 0.2s linear;
        // left: 0;
        // bottom: 0;
      }
    }
    a,
    div {
      display: block;
      width: 100%;
      height: 100%;
      line-height: $menu-height;
      color: var(--text-color);
      text-decoration: none;
      font-weight: bold;

      &:active {
        border: none;
      }
    }
    .menu-bar {
      transition: all 0.5s linear;
      opacity: 0;
      display: block;
      top: 0;
      position: absolute;
      background-color: var(--text-color);
      width: calc($menu-button-width);
      height: 0.2em;
      box-shadow: 0 0 0.1em var(--text-color);
    }
  }
}

ul.submeniu > li {
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: $menu-button-width;
  width: $menu-button-width;
  height: $menu-height;
  border-radius: 0;
  margin: 0;
  background-color: var(--accent-color);
  box-sizing: content-box;
  transition: background-color 0.3s linear;
  padding: 0;
}

#acasa-mediu {
  display: none;
}
