<!DOCTYPE html>
<html lang="ro">

<head>

  <meta name="keywords" content="proiect, tehnici web, HTML, CSS, electronice, magazin, magazin electronice, vanzare, componente, telefon, produse">
  <meta name="description" content="Magazin de electronice. Proiect pentru cursul de Tehnici Web.">
  <title>Magazin de electronice</title>

  <%- include('../fragmente/head') %>
</head>

<body class="dark">
  <p id="watermark"></p>

  <%- include('../fragmente/header') %>

  <main class="grid">
    <p>
      Pentru a face site-ul cat mai intuitiv si simplu de navigat, am decis sa creez o pagina principala
      unde
      va exista un meniu din care se va putea ajunge la orice categorie sau subcategorie de electronice
      (telefoane, componente PC, televizoare, televizoare Smart, etc.), un search bar, ofertele actuale si
      cateva din cele mai vandute produse.
    </p>
  </main>

  <% include ('../fragmente/footer') %>
</body>

</html>