<!DOCTYPE html>
<html lang="ro">

<head>
  <%- include('../fragmente/head') %>

  <link rel="stylesheet" href="/resurse/css/galerie-statica.css" type="text/css" />

</head>

<body class="dark">

  <%- include('../fragmente/header') %>

  <main>
    <section id="galerie-statica">
      <h2>Galerie Statica</h2>
      <%- include('../fragmente/galerie') %>
    </section>
  </main>

  <%- include ('../fragmente/footer') %>

</body>

</html>