body {
  --light-bg: #ffffff;
  --dark-bg: #141313;
  --color-dark: #252525;
  --color-light: #efeded;
  --accent-color-light: #a682ff;
  --accent-color-dark: #01a7c2;
  --accent-color: #5b3da7;

  --background-color: var(--light-bg);
  --background-color-accent: var(--color-light);
  --secondary-color: var(--accent-color-light);
  --special-color: var(--accent-color-dark);
  --text-color: var(--dark-bg);

  --section-margin: 10px;
  --page-padding: 20px;
  --section-padding: 10px;
}

p {
  margin: 0.5em;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.5em;
}

h2 {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0.5em;
}

h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em;
}

h4 {
  font-size: 0.75em;
  font-weight: bold;
  margin: 0.5em;
}

h5 {
  font-size: 0.5em;
  font-weight: bold;
  margin: 0.5em;
}

h6 {
  font-size: 0.25em;
  font-weight: bold;
  margin: 0.5em;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
