html {
  font-size: 16px;
}

body {
  --light-bg: #ffffff;
  --dark-bg: #141313;
  --color-dark: #252525;
  --color-light: #efeded;
  --accent-color-light: #a682ff;
  --accent-color-dark: #01a7c2;
  --accent-color: hsl(257, 65%, 61%);

  --background-color: var(--light-bg);
  --background-color-accent: var(--color-light);
  --secondary-color: var(--accent-color-light);
  --text-color: var(--dark-bg);

  --section-margin: 10px;
  --page-padding: 20px;
  --section-padding: 10px;
}

body.dark {
  --background-color: var(--dark-bg);
  --background-color-accent: var(--color-dark);
  --secondary-color: var(--accent-color-dark);
  --text-color: var(--light-bg);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  min-width: 450px;
  margin: 0;
}

footer {
  background-color: black;
  color: var(--color-light);
  padding: 0;
  margin: 0;
  text-align: center;
  margin-left: calc(-1 * var(--page-padding));
  margin-right: calc(-1 * var(--page-padding));
}

.grid > * {
  border: 3px solid var(--secondary-color);
  padding: var(--section-padding);
  margin: var(--section-margin);
  background-color: var(--background-color-accent);
}
.grid {
  grid-template-columns: repeat("1fr", 3);
  display: grid;
  grid-template-areas:
    "z-meniu z-meniu z-search"
    "z-acasa z-acasa z-acasa"
    "z-produse z-produse z-produse"
    "z-produse z-produse z-produse";
}

#acasa {
  grid-area: z-acasa;
}
#meniu {
  grid-area: z-meniu;
}
#search {
  grid-area: z-search;
}
#produse {
  grid-area: z-produse;
}

#oferte {
  grid-area: z-oferte;
}
#vandute {
  grid-area: z-vandute;
}

img {
  width: 100%;
  max-width: 800px;
}
