html {
  font-size: 16px;
}

body {
  --dark-bg: rgb(15, 15, 15);
  --color-light: #f4fff8;
  --color-dark: #000f08;
  --primary-color: #1c3738;
  --secondary-color: #8baaad;
  --accent-color: #4d4847;

  --background-color: var(--color-light);
  --text-color: var(--dark-bg);

  --page-padding: 2em;
  --section-padding: 1em;
}

body.dark {
  --background-color: var(--dark-bg);
  --text-color: var(--color-light);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  min-width: 450px;
}

/* make a grid area with the following sections: acasa, search, meniu, produse, oferta, vandute */

.grid > * {
  border: 3px solid var(--primary-color);
  padding: var(--section-padding);
}
.grid {
  grid-template-columns: repeat("1fr", 3);
  display: grid;
  grid-template-areas:
    "z-meniu z-meniu z-search"
    "z-acasa z-acasa z-acasa"
    "z-produse z-produse z-produse"
    "z-produse z-produse z-produse";
}

#acasa {
  grid-area: z-acasa;
}
#meniu {
  grid-area: z-meniu;
}
#search {
  grid-area: z-search;
}
#produse {
  grid-area: z-produse;
}

#oferte {
  grid-area: z-oferte;
}
#vandute {
  grid-area: z-vandute;
}

img {
  width: 100%;
  max-width: 800px;
}
