html {
  font-size: 16px;
  transition: font-size 0.5s linear;
}

body {
  --light-bg: #ffffff;
  --dark-bg: #141313;
  --color-dark: #252525;
  --color-light: #efeded;
  --accent-color-light: #a682ff;
  --accent-color-dark: #01a7c2;
  --accent-color: hsl(257, 65%, 61%);

  --background-color: var(--light-bg);
  --background-color-accent: var(--color-light);
  --secondary-color: var(--accent-color-light);
  --special-color: var(--accent-color-dark);
  --text-color: var(--dark-bg);

  --section-margin: 10px;
  --page-padding: 20px;
  --section-padding: 10px;
}

body.dark {
  --background-color: var(--dark-bg);
  --background-color-accent: var(--color-dark);
  --secondary-color: var(--accent-color-dark);
  --special-color: var(--accent-color-light);

  --text-color: var(--light-bg);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  padding-left: var(--page-padding);
  padding-right: var(--page-padding);
  min-width: 450px;
  margin: 0;
}

footer {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: 0;
  text-align: center;
  margin-left: calc(-1 * var(--page-padding));
  margin-right: calc(-1 * var(--page-padding));
}

footer > a {
  color: var(--text-color);
  text-decoration: none;
}

footer > a:hover {
  color: var(--secondary-color);
}

#top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-weight: 500;
  text-align: center;
  vertical-align: center;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  padding: 5px;
  border-radius: 90%;
  font-size: 1.5em;
  cursor: pointer;
  transition: background-color 0.3s linear;
  opacity: 0.25;
}

#top-btn:hover {
  background-color: var(--secondary-color);
  color: var(--background-color);
  transition: all 0.5s linear;
  box-shadow: var(--special-color);
  opacity: 1;
}

div.container-iframe > iframe {
  display: inline-block;
  border: 0;
}

div.taburi-iframe {
  display: inline-block;
}

.link-iframe1 {
  display: block;
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--special-color);
}

.link-iframe1:hover {
  /* make button longer to the right */
  padding-right: 20px;
  transition: all 0.5s linear;
  box-shadow: var(--special-color);
}

.link-iframe2 {
  display: block;
  padding: 5px;
  margin: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--special-color);
}

.link-iframe2:hover {
  /* make button longer to the right */
  padding-right: 20px;
  transition: all 0.5s linear;
  box-shadow: var(--special-color);
}

.grid > * {
  border: 3px solid var(--secondary-color);
  padding: var(--section-padding);
  margin: var(--section-margin);
  background-color: var(--background-color-accent);
}
.grid {
  grid-template-columns: repeat("1fr", 4);
  display: grid;
  grid-template-areas:
    "z-acasa z-acasa z-acasa z-acasa"
    "z-acasa z-acasa z-acasa z-acasa"
    "z-utilizatori-online z-utilizatori-stats z-utilizatori-stats z-date-site"
    "z-calendar z-calendar z-tabel z-tabel"
    "z-anunturi z-anunturi z-tabel z-tabel"
    "z-detalii z-detalii z-detalii z-detalii";
}

#acasa {
  grid-area: z-acasa;
}

#tabel {
  grid-area: z-tabel;
}

#calendar {
  grid-area: z-calendar;
}

#anunturi {
  grid-area: z-anunturi;
}

#utilizatori-online {
  grid-area: z-utilizatori-online;
}

#utilizatori-stats {
  grid-area: z-utilizatori-stats;
}

#date-site {
  grid-area: z-date-site;
}

#detalii {
  grid-area: z-detalii;
}

img {
  width: 100%;
  max-width: 800px;
}

/* #meniu {
  grid-area: z-meniu;
}
#search {
  grid-area: z-search;
}
#produse {
  grid-area: z-produse;
}

#oferte {
  grid-area: z-oferte;
}
#vandute {
  grid-area: z-vandute;
} */
