.grid {
  display: block;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1 {
  font-size: 2.5em;
  text-align: center;
  vertical-align: center;
  text-decoration: underline;
}

.container-iframe,
figure,
#top-btn,
nav {
  display: none;
}

footer {
  page-break-before: always;
}

header {
  page-break-after: always;
}

@page :top-left {
  content: "Schmidt Robert Eduard";
  width: 100px;
  height: 2cm;
  border: 1px double black;
  opacity: 0.65;
}
