  <div id="banner-cookies" class="container rounded-3">
    <div class="row mb-3 mt-2 d-flex align-items-center justify-content-center">
      Acesta este un proiect scolar.
    </div>
    <div class="row">
      <span id="mesaj-cookies" class="">
        Acceptati cookie-urile de pe site?
        <button id="ok-cookies" class="btn btn-outline-primary">Ok</button>
      </span>
    </div>


    <script src="/resurse/js/cookies.js"></script>
  </div>