<footer>
  <hr id="hr-footer">
  <a id="top-btn" title="Go to top" href="#top">&#5123;</a>

  <div id="banner-container">
    <p id="banner">Acesta este un proiect scolar!</p>
  </div>
  <a href="https://goo.gl/maps/oRsgpggNcDV2WBAWA">Str Cara Anghel Nr 9, Bucuresti, Romania</a><br>
  <a href="tel:+4073054710">+40 730 544 710</a><br>
  <a href="mailto:robstoner19@gmail.com">robstoner19@gmail.com</a><br>
  <a href="https://wa.me/40730544710">Whatsapp</a>

  <p>FAQ: Intrebari frecvente</p>
  <details>
    <summary>Unde pot gasi produsele?</summary>
    <p>Produsele se gasesc in sectiunea "Produse" din meniu.</p>
  </details>
  <details>
    <summary>Cum pot comanda produsele?</summary>
    <p>Pentru a comanda produsele trebuie sa va creati un cont pe site.</p>
  </details>
  <details>
    <summary>Cum pot plati produsele?</summary>
    <p>Plata produselor se face in momentul in care comanda este confirmata.</p>
  </details>

  <small>&#169; Magazin de electronice <time datetime="2023-02-25">2022</time></small>
</footer>